modules:
  prefix_inspections:
    bin:
      - PATH
    lib:
      - LD_LIBRARY_PATH
    lib64:
      - LD_LIBRARY_PATH
    include:
      - CPATH
    lib/pkgconfig:
      - PKG_CONFIG_PATH
    lib64/pkgconfig:
      - PKG_CONFIG_PATH
    share/man:
      - MANPATH
    share/pkgconfig:
      - PKG_CONFIG_PATH
    .:
      - CMAKE_PREFIX_PATH

  default:
    enable:
      - {{ module_system }}
    use_view: cse_modules
    roots:
      {{ module_system }}: {{ module_root }}
    {{ module_system }}:
{% if module_system == "lmod" %}
      hierarchy: []
{% endif %}
      hash_length: 0
      projections:
        all: 'cse/{name}/{version}'
      all:
        autoload: none

      hdf5:
        suffixes:
          '+mpi': 'mpi'
          '~mpi': 'serial'

      hdf5 +mpi:
        load:
          - '{{ mpi_module }}'

      netcdf-c:
        suffixes:
          '+mpi': 'mpi'
          '~mpi': 'serial'

      netcdf-c +mpi:
        load:
          - '{{ hdf5_mpi_module }}'

      netcdf-c ~mpi:
        load:
          - '{{ hdf5_serial_module }}'

      netcdf-fortran:
        suffixes:
          '^netcdf-c +mpi': 'mpi'
          '^netcdf-c ~mpi': 'serial'

      netcdf-fortran ^netcdf-c +mpi:
        load:
          - '{{ netcdf_c_mpi_module }}'

      netcdf-fortran ^netcdf-c ~mpi:
        load:
          - '{{ netcdf_c_serial_module }}'

      netcdf-cxx4:
        suffixes:
          '^netcdf-c +mpi': 'mpi'
          '^netcdf-c ~mpi': 'serial'

      netcdf-cxx4 ^netcdf-c +mpi:
        load:
          - '{{ netcdf_c_mpi_module }}'

      netcdf-cxx4 ^netcdf-c ~mpi:
        load:
          - '{{ netcdf_c_serial_module }}'

{% if is_openmpi %}
      openmpi:
        autoload: none
{% else %}
      mpich:
        autoload: none
{% endif %}
