modules:
  prefix_inspections:
    bin:
      - PATH
    lib:
      - LD_LIBRARY_PATH
    lib64:
      - LD_LIBRARY_PATH
    include:
      - CPATH
    lib/pkgconfig:
      - PKG_CONFIG_PATH
    lib64/pkgconfig:
      - PKG_CONFIG_PATH
    share/man:
      - MANPATH
    share/pkgconfig:
      - PKG_CONFIG_PATH
    .:
      - CMAKE_PREFIX_PATH

  default:
    enable:
      - {{ module_system }}
    use_view: cse_modules
    roots:
      {{ module_system }}: {{ module_root }}
    {{ module_system }}:
{% if module_system == "lmod" %}
      hierarchy: []
{% endif %}
      hash_length: 0
      include:
{% for spec in public_module_include_specs %}
        - '{{ spec }}'
{% endfor %}
      exclude:
        - '*'
      projections:
        all: 'cse/{name}/{version}'
      all:
        autoload: none

      hdf5:
        suffixes:
          '+mpi': 'mpi'
          '~mpi': 'serial'

      netcdf-c:
        suffixes:
          '+mpi': 'mpi'
          '~mpi': 'serial'

      netcdf-fortran:
        suffixes:
          '^netcdf-c +mpi': 'mpi'
          '^netcdf-c ~mpi': 'serial'

      netcdf-cxx4:
        suffixes:
          '^netcdf-c +mpi': 'mpi'
          '^netcdf-c ~mpi': 'serial'

      fftw:
        suffixes:
          '+mpi': 'mpi'
          '~mpi': 'serial'

{% for rule in module_load_rules %}
      {{ rule.selector }}:
        load:
{% for module in rule.loads %}
          - '{{ module }}'
{% endfor %}

{% endfor %}

{% if is_openmpi %}
      openmpi:
        autoload: none
{% else %}
      mpich:
        autoload: none
{% endif %}
