spack:
  include:
    - ./packages.yaml
    - ./config.yaml
    - ./modules.yaml

  view:
    mpi:
      root: {{ views_root }}/mpi
      select:
        - "+mpi"
{% if is_openmpi %}
        - openmpi
{% else %}
        - mpich
{% endif %}
        - cmake
        - zlib
      link: all
      link_type: symlink
    serial:
      root: {{ views_root }}/serial
      select:
        - "hdf5~mpi"
        - "netcdf-c~mpi"
        - "netcdf-fortran ^netcdf-c~mpi"
        - "netcdf-cxx4 ^netcdf-c~mpi"
        - cmake
        - zlib
      link: all
      link_type: symlink

  concretizer:
    unify: when_possible
    reuse:  true

  specs:
{% if is_openmpi %}
    - openmpi@5.0.5 fabrics=auto schedulers=slurm
{% else %}
    - mpich@{{ mpich_version }} device=ch4 netmod=ofi pmi=pmix
{% endif %}
    - cmake@3.29.6
    - zlib@1.3.1
{% if is_openmpi %}
    - hdf5@1.14.4 +mpi  +fortran +cxx +hl +threadsafe
    - hdf5@1.14.4 ~mpi  +fortran +cxx +hl +threadsafe
    - netcdf-c@4.9.2 +mpi  +parallel-netcdf  ^hdf5@1.14.4+mpi
    - netcdf-c@4.9.2 ~mpi                    ^hdf5@1.14.4~mpi
{% else %}
    - hdf5@1.14.4 +mpi  +fortran +cxx +hl +threadsafe ^mpich
    - hdf5@1.14.4 ~mpi  +fortran +cxx +hl +threadsafe
    - netcdf-c@4.9.2 +mpi  +parallel-netcdf  ^hdf5@1.14.4+mpi  ^mpich
    - netcdf-c@4.9.2 ~mpi                    ^hdf5@1.14.4~mpi
{% endif %}
    - netcdf-fortran@4.6.1                   ^netcdf-c@4.9.2+mpi
    - netcdf-fortran@4.6.1                   ^netcdf-c@4.9.2~mpi
    - netcdf-cxx4@4.3.1                      ^netcdf-c@4.9.2+mpi
    - netcdf-cxx4@4.3.1                      ^netcdf-c@4.9.2~mpi
